{% extends "base.html" %}
{% load static %}

{% block title %}Clients{% endblock %}

{% block includes %}

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/moment-2.18.1/dt-1.10.22/b-1.6.5/sl-1.3.1/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editor.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'custom-bootstrap.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script type="text/javascript" charset="utf-8"
            src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/moment-2.18.1/dt-1.10.22/b-1.6.5/sl-1.3.1/datatables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/dataTables.editor.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'js/editor.bootstrap4.min.js' %}"></script>

    <script type="text/javascript" charset="utf-8" src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>
    <!--		<script type="text/javascript" charset="utf-8" src="js/table.DATABASENAME.js"></script>  -->



    <!--    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.0/css/select.bootstrap4.min.css">-->


{% endblock %}

{% block content %}
    <div class="container-flex">
        <div class="row justify-content-md-center">
            <span class="col col-md-11 swatch-500"/>
            <h1>SAV</h1>
            <hr/>
            <div id="buttons" class="d-flex justify-content-left"></div>
            <table id="table_id" class="table table-striped table-bordered display" style="width:100%">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Date de création</th>
                    <th>Client</th>
                    <th>Addresse</th>
                    <th>Ville</th>
                    <th>Etat</th>
                    <th>Nature</th>
                    <th>Reception des fournitures</th>
                    <th>Programmation</th>
                    <th>Conclusion</th>
                </tr>
                </thead>
            </table>
            <!--
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script type="text/javascript" src=" https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js "></script>
            <script type="text/javascript" src=" https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js "></script>



            <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap4.min.js"></script>
            <script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
            <script src="{% static 'js/dataTables.editor.js' %}"></script>
            <script src="{% static 'js/editor.bootstrap4.min.js' %}"></script>
        -->

            <script>
                var placesInstance;
                var loc;
                var currentLocation = "";
                const language = {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                };


                (function ($, DataTable) {

                    if (!DataTable.ext.editorFields) {
                        DataTable.ext.editorFields = {};
                    }
                    var Editor = DataTable.Editor;
                    var _fieldTypes = DataTable.ext.editorFields;
                    _fieldTypes.addressField = {
                        create: function (conf) {
                            conf._enabled = true;
                            conf._input = $(
                                '<div id = "' + Editor.safeId(conf.id) + '" > ' +
                                '<input type="search" id="address-input"/>' +
                                '</div>'
                            );
                            return conf._input;
                        },

                        get: function (conf) {
                            var address = {
                                city: loc.city,
                                county: loc.county,
                                name: loc.name,
                                latlng: loc.latlng
                            };
                            loc = "";
                            return (address);
                        },

                        set: function (conf, val) {
                            currentLocation = val;
                        },
                    };
                })(jQuery, jQuery.fn.dataTable);

                $(document).ready(function () {
                    var editor = new $.fn.dataTable.Editor({
                        ajax: "/SAV/api/SAV/editor/?format=datatables",
                        table: '#table_id',
                        idSrc: 'id',
                        fields: [{
                            label: "Date de création",
                            name: "creationDate",
                            type: "date"
                        }, {
                            label: "Client",
                            name: "customer.id",
                            type: "select",
                        }, {
                            label: "Etat",
                            name: "state",
                            type: "select",
                        }, {
                            label: "Nature",
                            name: "nature",
                        }, {
                            label: "Adresse",
                            name: "address",
                            type: "addressField",
                            def: 0,
                        }, {
                            label: "Réception de commande",
                            name: "furnitureReception",
                            type: "date"
                        }, {
                            label: "Date de programmation",
                            name: "programmation",
                            type: "date"
                        }, {
                            label: "Conclusion",
                            name: "conclusion",
                        }],
                        i18n: {
                            create: {
                                button: "Nouveau",
                                title: "Créer nouvelle entrée",
                                submit: "Créer"
                            },
                            edit: {
                                button: "Modifier",
                                title: "Modifier entrée",
                                submit: "Actualiser"
                            },
                            remove: {
                                button: "Supprimer",
                                title: "Supprimer",
                                submit: "Supprimer",
                                confirm: {
                                    _: "Etes-vous sûr de vouloir supprimer %d lignes?",
                                    1: "Etes-vous sûr de vouloir supprimer 1 ligne?"
                                }
                            },
                            error: {
                                system: "Une erreur s’est produite, contacter l’administrateur système"
                            },
                            datetime: {
                                previous: 'Précédent',
                                next: 'Premier',
                                months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                                weekdays: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam']
                            }
                        }
                    });
                    editor.one("opened", function () {
                        placesInstance = places({
                            appId: 'plMKXHAGULPH',
                            apiKey: 'b1a3d617d8f3539c1394fb62c8a582b6',
                            container: document.querySelector('#address-input'),
                        });
                        placesInstance.on('change', function (e) {
                            console.log(e.suggestion);
                            loc = e.suggestion;
                        });
                    })
                    editor.on("opened", function () {
                        if (currentLocation !== 0) {
                            document.querySelector('#address-input').setAttribute("placeholder", currentLocation);
                            document.querySelector('#address-input').value = "";
                        }
                    })
                    var table = $('#table_id').DataTable({
                        serverSide: true,
                        ajax: {
                            url: "/SAV/api/SAV/?format=datatables",
                            dataSrc: function (json) {
                                for (var i = 0, ien = json.data.length; i < ien; i++) {
                                    if (json.data[i].address.city)
                                        json.data[i].city = json.data[i].address.city;
                                    else
                                        json.data[i].city = "Indéfinie";
                                    json.data[i].address = json.data[i].address.name;
                                }
                                console.log(json.data);
                                return json.data;
                            }
                        },
                        select: true,
                        lengthChange: false,
                        pageLength: 3,
                        language: language,
                        columns: [
                            {data: "id", visible: false},
                            {type: "date", data: "creationDate"},//, name: "artist.name"},
                            {data: "customer.lastName", searchable: false},
                            {data: "address", searchable: true},
                            {data: "city", name: "address.city", searchable: true},
                            {data: "state", searchable: false},
                            {data: "nature", searchable: false},
                            {type: "date", data: "furnitureReception", searchable: false},
                            {type: "date", data: "programmation", searchable: false},
                            {data: "conclusion", searchable: false},
                        ],
                    });

                    new $.fn.dataTable.Buttons(table, [
                        {extend: "create", editor: editor},
                        {
                            extend: "edit",
                            editor: editor,
                            formButtons: [
                                {
                                    label: 'Annuler',
                                    fn: function () {
                                        this.close();
                                    }
                                },
                                'Enregistrer'
                            ]
                        },
                        {extend: "remove", editor: editor}
                    ]);
                    table.buttons().container().prependTo("#buttons");
                });


                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                var csrftoken = getCookie('csrftoken');

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

            </script>

        </div>
    </div>

{% endblock %}